<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  使用自定义注解 @LogInject 注入 logger 对象 -->
    <bean id="loggerInjector" class="com.cetiti.dsp.core.injector.LoggerInjector"/>

    <!--  使用自定义注解 @MapperInject 注入 logger 对象 -->
    <bean id="mapperInjector" class="com.cetiti.dsp.core.injector.MapperInjector"/>

    <!--  aop 日志监控 -->
    <bean id="logAspect" class="com.cetiti.dsp.core.aspect.LogAspect"></bean>

</beans>